html,body{
    height: 100%;
}

.login-container{
height: 100%;
background-image: url('https://www.maggi.co.uk/sites/default/files/styles/maggi_desktop_image_style/public/NUK1265%20maggi%20Recipes%20banner%201500x700px%20opt2A.jpg?h=4f5b30f1&itok=DcsF1RwA');
background-size: cover;
}

.login-card {
    margin-top: 200px;
    background-color: #000000b3 !important;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.signin-card {
    margin-top: 200px;
    background-color: rgba(0,0,0,0.5) !important;
    height: 460px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgba(50, 146, 166, 0.8);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgba(50, 146, 166, 0.8);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: rgba(50, 146, 166, 0.8);
width: 100px;
}

.login_btn:hover{
color: white;
background-color: rgba(11, 90, 105, 0.8);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.field {
    border: none !important;
}