$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .logo {
   padding-left: 0;
   padding-right: 0;
  }
  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

.carousel-item {
  height: 450px;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000000a3;
}
.carousel-image-1 {
  background: url('../scssImges/assorted-chinese-food-set-toned-noodles-fried-rice-dumplings-peking-duck-dim-sum-spring-rolls-famous-cuisine-dishes-74023522.jpeg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../scssImges/selection-american-food-wood-selection-american-food-111721099.jpeg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../scssImges/the-best-top-10-indian-dishes.jpeg');
  background-size: cover;
}

#showcase {
  position: relative;
  // background: url('../img/mountains.jpg');
  min-height: 600px;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary;
    color: #fff;
  }

  .fab {
    color: #fff;
  }
}


#video-play {
  position: relative;
  min-height: 200px;
  background: url('../scssImges/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../scssImges/the-best-top-10-indian-dishes.jpeg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.cardData {
  cursor: pointer;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.clickIcons {
  cursor: pointer;
}

.icon_primary {
  color: #3292a6;
}

.icon_primary {
  color: #3292a6;
}

.recipes-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.recipe-data {
  display: flex;
  justify-content: space-between;
}

.non-veg {
  color: #a20a0a;
}

.veg {
  color: #057d09;
}

.filters {
  width: 200px;
}
.multi-filters {
  width: 600px;
}

#main-footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 65px;
}


.recipeDetails .filters {
      width: 250px;
}

.recipeDetails .ratings {
  position: absolute;
    bottom: 5px;
    margin-left: 5px;
}

.recipeCardImage {
  height: 237px !important;
}

.editorClass {
  height: 150px;
}

.nav-link.active {
  color: #3292a6 !important;
}

.table th {
  border-top: none !important;
}

.recipes_list {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
    margin-bottom: 100px;
    h1 {
      font-size: 4rem;
    }
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

// INGREDIENTS PAGE
#ingredient-page-header {
  height: 200px;
  background: url('../scssImges/istockphoto-1227198304-1024x1024.jpeg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

// ERROR MESSAGE
.error {
  color: rgb(221, 39, 38);
  font-size: 13px
}
